.virtuemart-bohcatfilter{}
.virtuemart-bohcatfilter .bohcatfilter-text{margin: 10px 0;}
.virtuemart-bohcatfilter .bohcatfilter-select{margin: 10px 0;}
.virtuemart-bohcatfilter .bohcatfilter-select select{display: block;margin: 10px 0;padding: 3px 12px;min-width: 88%;}
.virtuemart-bohcatfilter .bohcatfilter-button{}
.virtuemart-bohcatfilter .bohcatfilter-button input{}